@keyframes slideInHelp {
  from {
    opacity: 0;
    transform: translateY(22px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* === CONTENEDOR GENERAL === */

.help-container {
  width: calc(100vw - var(--sidebar-width));
  height: calc(100vh - var(--topbar-height));
  margin-left: var(--sidebar-width);
  margin-top: var(--topbar-height);
n