/* Página general */
body{
  background-color: #a0b0b9;
    overflow-x: hidden;
    overflow-y: auto;

}
.dashboard-page {
  margin-left: var(--sidebar-width); /* ancho de tu sidebar */
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
n