/* Página general */
body{
  background-color: #a0b0b9;
    overflow-x: hidden;
    overflow-y: auto;

}
.dashboard-page {
  margin-left: 220px; /* ancho de tu sidebar */
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Encabezado */
.dashboard-header {
  text-align: center;
  margin-bottom: 2rem;
}

.dashboard-title {
  font-size: clamp(1.8rem, 3vw, 2.4rem);
  font-weight: 800;
  color: #ffee00;
}

.dashboard-subtitle {
  font-size: clamp(1rem, 1.8vw, 1.2rem);
  color: #e3e700;
  margin-top: 0.5rem;
}

/* Contenido centrado */
.dashboard-content {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: -3rem; 
}

@media (max-width: 768px) {
  body { overflow-y: auto; }
  .dashboard-page { margin-left: 0 !important; padding-top: 70px; }
  .dashboard-content { margin-top: 0; }
}

